
<%=form_with model: spending do |f| %>
  <% if spending.errors.any? %>
    <div class ="text-danger mt-3">
      <h5><%= pluralize(spending.errors.count, "error") %> prohibited this spending from being saved:</h5>

      <ul>
        <% spending.errors.each do |error| %>
          <li class="error-item"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <%=f.label :name, class: "text-primary mt-3"%>
 <%= f.text_field :name, class: "form-control", placeholder: "Enter paymnet name"%>
 <%=f.label  :amount, class: "text-primary mt-3" %>
 <%= f.number_field :amount, class: "form-control"%>
<div class="categories ">
<h4 class="text-center mt-3"> Select categories </h4>
<% if @categories.present? %>
<% @categories.each do | category| %>
<%= check_box_tag "spending[category_ids][]", category.id, spending.category_ids.include?(category.id), id: dom_id(category)%>
<%= label_tag dom_id(category), category.name %><br>
<%end%>
<% else%>
<p class ="text-info text-center"> Add some category to create spending</p>
<%end%>
</div>
<div class ="d-flex mt-3">
<%= f.submit "Save", class: "btn btn-primary"%>
<%=link_to "Back",spendings_path ,class:"btn btn-primary mx-3" %>
</div>
<% end %>